@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #eeeeee;
    
}
h1 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color:black;
}

h4 {
    font-weight: bold;
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 40px;    /* left margin */
    margin-right: 40px;   /* right margin */
}
h5 {
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 60px;    /* left margin */
    margin-right: 40px;   /* right margin */
}

p {
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 60px;    /* left margin */
    margin-right: 20px;   /* right margin */
}

#codigo {
        width: 100%;
        height:150px;
        font-family: 'Courier New', monospace;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
        background-color: lightgray;
}
a{
    color: blue;
    text-decoration: underline;
}

#codigoAI {
    width: 60%;
    height: 500px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: lightgray;
    resize: none;
}

.code-container {
    margin-left: 0; /* Set left margin to 0 */
    padding-left: 20px; /* Add left padding to create space */
    display: inline-block;
}

pre {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    padding: 10px;
    border-radius: 5px;
    background-color: #2c2c2c;
    font-family: 'Courier New', Courier, monospace; /* Use a monospace font */
}

code {
    font-family: inherit; /* Inherit font-family from parent (pre) */
    color: #cdcdcd; /* Set code text color */
    
}

ol {
    list-style-type: decimal; /* Use decimal numbering */
    list-style-position: outside; /* Place numbering outside the list items */
    margin: 20px; /* Add space above and below the list */
    padding-left: 60px; /* Add space to the left of the list */
}