@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

h1 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color:black;
}

h4 {
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 40px;    /* left margin */
    margin-right: 40px;   /* right margin */
}

p {
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 30px;    /* left margin */
    margin-right: 20px;   /* right margin */
}
