@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #eeeeee;
    
}
h1 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color:black;
}

h4 {
    font-weight: bold;
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 40px;    /* left margin */
    margin-right: 40px;   /* right margin */
}
h5 {
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 60px;    /* left margin */
    margin-right: 40px;   /* right margin */
}

p {
    margin-top: 10px;    /* top margin */
    margin-bottom: 20px; /* bottom margin */
    margin-left: 60px;    /* left margin */
    margin-right: 20px;   /* right margin */
}

#codigo {
        width: 100%;
        height:150px;
        font-family: 'Courier New', monospace;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
        background-color: lightgray;
}
a{
    color: blue;
    text-decoration: underline;
}

.index-box {
    background-color: #b2ebf2; /* Color de fondo */
    padding: 10px; /* Ajusta el relleno según sea necesario (aplica a todos los lados) */
    border-radius: 5px; /* Añade esquinas redondeadas */
    margin: 20px 20px 20px 20px; /* Añade márgenes */
    max-width: fit-content; /* Establece el ancho máximo de la caja según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.index-box h5 {
    margin-bottom: 10px; /* Añade un margen inferior para separar del elemento ul */

  }

.index-box ul {
    list-style-type: circle; /* Cambia el marcador de lista a puntos (puedes usar 'circle', 'square', etc.) */
    padding-left: 20px; /* Ajusta la sangría izquierda según sea necesario */
  }
  